<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Afforess</string>
	<key>Builder Version</key>
	<string>534.57.2</string>
	<key>CFBundleDisplayName</key>
	<string>NationStates++</string>
	<key>CFBundleIdentifier</key>
	<string>com.afforess.nationstates</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.6.2</string>
	<key>CFBundleVersion</key>
	<string>2.1.6.2</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>jquery-2.0.2.min.js</string>
				<string>jquery-ui.min.js</string>
				<string>background.js</string>
				<string>js/Blob.js</string>
				<string>js/FileSaver.js</string>
				<string>js/bootstrap-fileupload.min.js</string>
				<string>js/jquery.caret.js</string>
				<string>js/jquery.highlight.js</string>
				<string>js/jquery.nouislider.min.js</string>
				<string>js/textFit.min.js</string>
				<string>js/nprogress.js</string>
				<string>js/nationstates++_common.js</string>
				<string>js/nationstates.js</string>
				<string>js/region.js</string>
				<string>js/nation.js</string>
				<string>js/newspapers.js</string>
				<string>js/happenings.js</string>
				<string>js/census_slider.js</string>
				<string>js/embassy_flags.js</string>
				<string>js/telegrams.js</string>
				<string>js/issues.js</string>
				<string>js/help.js</string>
				<string>js/irc.js</string>
				<string>js/dossier.js</string>
				<string>js/administration.js</string>
				<string>js/settings.js</string>
				<string>js/nspp.js</string>
				<string>js/activity.js</string>
				<string>js/history.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>css/nouislider.fox.css</string>
			<string>css/bootstrap-button.css</string>
			<string>css/two_column.css</string>
			<string>css/bootstrap-fileupload.min.css</string>
			<string>css/nprogress.css</string>
			<string>css/nationstates++.css</string>
		</array>
	</dict>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.nationstates.net</string>
				<string>*.nationstatesplusplus.net</string>
				<string>*.nationstatesplusplus.org</string>
				<string>*.nationstatesplusplus.net</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://nationstatesplusplus.net/nationstates/safari.plist</string>
</dict>
</plist>
