/Assembly/test

/Assembly/.target/*.class
/Assembly/.target/com/afforess/assembly/*.class
/Assembly/.target/com/afforess/assembly/*.class
/Assembly/.target/com/afforess/assembly/*.class
/Assembly/.target/com/afforess/assembly/*.class
/Assembly/.target/com/afforess/assembly/*.class
/Assembly/.target/com/afforess/assembly/*.class
/Assembly/.target/com/afforess/assembly/*.class
/Assembly/.target/com/afforess/assembly/*.class
/Assembly/.target/com/afforess/assembly/model/*.class
/Assembly/.target/com/afforess/assembly/util/*.class
/Assembly/.target/com/afforess/assembly/util/*.class
/Assembly/.target/com/afforess/assembly/util/*.class
/Assembly/.target/com/afforess/assembly/util/*.class
/Assembly/.target/com/afforess/assembly/util/*.class
/Assembly/.target/com/afforess/assembly/util/*.class
/Assembly/.target/com/afforess/assembly/util/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/config.yml
/Extension/Firefox/*.xpi
/Extension/Safari/*.safariextz
/Assembly/*.sh
