/Assembly/test

/Assembly/.target/*.class
/Assembly/.target/com/afforess/assembly/*.class
/Assembly/.target/com/afforess/assembly/*.class
/Assembly/.target/com/afforess/assembly/*.class
/Assembly/.target/com/afforess/assembly/*.class
/Assembly/.target/com/afforess/assembly/*.class
/Assembly/.target/com/afforess/assembly/*.class
/Assembly/.target/com/afforess/assembly/*.class
/Assembly/.target/com/afforess/assembly/*.class
/Assembly/.target/com/afforess/assembly/model/*.class
/Assembly/.target/com/afforess/assembly/util/*.class
/Assembly/.target/com/afforess/assembly/util/*.class
/Assembly/.target/com/afforess/assembly/util/*.class
/Assembly/.target/com/afforess/assembly/util/*.class
/Assembly/.target/com/afforess/assembly/util/*.class
/Assembly/.target/com/afforess/assembly/util/*.class
/Assembly/.target/com/afforess/assembly/util/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/.target/controllers/*.class
/Assembly/config.yml
/Extension/Firefox/*.xpi
/Extension/Safari/*.safariextz
/Assembly/*.sh
/Extension/Chrome/css/*
/Extension/Chrome/js/*
/Extension/Firefox/addon/data/js/*
/Extension/Firefox/addon/data/css/*
/Extension/Safari/nationstates++.safariextension/css/*
/Extension/Safari/nationstates++.safariextension/js/*

/Extension/Safari/nationstates++.safariextension/*.safariextz

/Extension/Firefox/addon/*.xpi
