.QuoteButton {
	margin: 0;
	margin-top: -15px;
}

.dossier-wa {
	display: inline-block;
	text-shadow: 1px 1px 1px #333;
	color: #FFFFFF;
	font-size: 11pt;
	padding-right: 8px;
	font-family: Impact,Arial,sans-serif;
	background-image: url(http://www.nationstates.net/images/wa_mono_bg.png);
	background-repeat: no-repeat;
	background-position: left center;
	border-color: #449944;
	background-color: green;
	box-shadow: 1px 1px 2px #343;
}