h1 {
	text-shadow: 2px 2px 1px #5A5858;
}

h1, h1 a, h2, h3, h4, h5, h6 {
	color: #FFFFFF !important;
}

.ns-settings  {
	background: #2A2A2A;
	border: 1px solid #383838;
}

.puppet-form {
	background: #2A2A2A;
}

#nationstates_settings h1 {
	color: #D0D0D0 !important;
}

#nationstates_settings {
	background: #000 !important;
	color: #D0D0D0 !important;
}

#nationstates_settings fieldset{
	background: #2A2A2A !important;
	border: 1px solid #383838 !important;
	color: #D0D0D0 !important;
}

.dossier_element {
	border: 6px solid #191919 !important;
	background-color: #191919 !important;
}

.older {
	background: #191919;
	border: 1px #383838 solid;
}

#manage_newspaper {
	border: solid 2px white;
	background: black;
}

#inner-content fieldset, #target fieldset {
	background-color: black !important;
}

.updatetime {
	background: #2A2A2A;
	border: 1px solid #383838;
	color: #D0D0D0 !important;
}

#nspp_trophy {
	-webkit-filter: none !important;
}

#preview  {
	color: black !important;
}